* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #f2f2f2;
}

.layout-container-fluid {
  height: 100%;
  width: 100%;
}
.layout-container-fluid .menu-side-container {
  background-color: #212121;
  height: 100vh;
  width: 250px;
  right: 0;
  position: fixed;
  z-index: 2000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.layout-container-fluid .menu-side-container .page-title {
  width: 100%;
  height: 60px;
  background-color: #9ACD32;
  text-align: right;
  line-height: 60px;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  padding-right: 15px;
}
.layout-container-fluid .menu-side-container .user-info {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.layout-container-fluid .menu-side-container .user-info .user-img-container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #FFF;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.layout-container-fluid .menu-side-container .user-info .user-img-container img {
  width: 70%;
  margin-bottom: 20px;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -o-border-radius: 70%;
  -ms-border-radius: 70%;
  border-radius: 70%;
}
.layout-container-fluid .menu-side-container .system-categories {
  width: 100%;
  border-bottom: solid 1px rgba(100, 100, 100, 0.5);
  border-top: solid 1px rgba(100, 100, 100, 0.5);
}
.layout-container-fluid .menu-side-container .system-categories ul {
  list-style: none;
  margin: 0;
}
.layout-container-fluid .menu-side-container .system-categories ul li {
  width: 100%;
  height: 50px;
  text-transform: capitalize;
  line-height: 50px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 16px;
  text-align: right;
}
.layout-container-fluid .menu-side-container .system-categories ul li a {
  text-decoration: none;
  color: gray;
  padding: 10px 0px 10px 90px;
}
.layout-container-fluid .menu-side-container .system-categories ul li a i {
  margin-left: 20px;
  float: left;
  line-height: 50px;
}
.layout-container-fluid .menu-side-container .system-categories ul li:hover {
  background: #141414;
}
.layout-container-fluid .body-content-container {
  width: calc(100% - 250px);
  float: left;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.hover {
  background-color: #141414;
}

.menu-side-toggle {
  right: -250px !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.body-toggle {
  width: 100% !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.toggle-menu {
  float: right;
  width: 50px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  line-height: 30px;
  font-size: 24px;
  cursor: pointer;
}

.header {
  width: calc(100% - 100px);
  margin: 50px;
  padding: 25px;
  background-color: #FFF;
  text-align: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  overflow: hidden;
}
.header i {
  color: #9ACD32;
}
.header button {
  border: 0;
  background: #9ACD32;
  font-size: 18px;
  color: #FFF;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  float: left;
  outline: 0;
}

.data-form-container, .terms-form-container, .cities-form-container, .user-form-container {
  width: calc(100% - 100px);
  margin: auto;
  height: 0;
  background-color: #FFF;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.data-form-container .transaction-form, .terms-form-container .transaction-form, .cities-form-container .transaction-form,.user-form-container .transaction-form {
  width: 100%;
  padding: 25px;
}
.data-form-container .transaction-form .inp-cont, .terms-form-container .transaction-form .inp-cont, .cities-form-container .transaction-form .inp-cont,.user-form-container .transaction-form .inp-cont {
  width: calc(100% / 3);
  float: right;
  margin-bottom: 25px;
}
.data-form-container .transaction-form .inp-cont div, .terms-form-container .transaction-form .inp-cont div, .cities-form-container .transaction-form .inp-cont div , .user-form-container .transaction-form .inp-cont div {
  width: fit-content;
  display: inline-block;
  float: right;
  text-align: right;
  padding: 10px;
  width: 120px;
}
.user-form-container .transaction-form .inp-cont input,.data-form-container .transaction-form .inp-cont input, .data-form-container .transaction-form .inp-cont #select1, .terms-form-container .transaction-form .inp-cont input, .terms-form-container .transaction-form .inp-cont #select1, .cities-form-container .transaction-form .inp-cont input, .cities-form-container .transaction-form .inp-cont #select1  {
  width: calc(70%);
  float: right;
  text-align: right;
  padding: 10px;
  border: solid 1px #9ACD32;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.data-form-container .transaction-form .term, .terms-form-container .transaction-form .term, .cities-form-container .transaction-form .term ,.user-form-container .transaction-form .term {
  width: calc(100% / 2);
}
.data-form-container .transaction-form .term div, .terms-form-container .transaction-form .term div, .cities-form-container .transaction-form .term div ,.user-form-container .transaction-form .term{
  width: 140px;
}
.data-form-container .transaction-form .button1, .terms-form-container .transaction-form .button1, .cities-form-container .transaction-form .button1, .user-form-container .transaction-form .button1 {
  width: 100%;
  padding: 15px;
  border: 0;
  background-color: #9ACD32;
  color: #FFF;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.show-tick {
  width: 60% !important;
}

.transactions-container {
  padding: 50px;
  background-color: #FFF;
  margin: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.transactions-container input {
  border: solid 1px #9ACD32;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.transactions-container table {
  text-align: center !important;
}

.slide-data {
  height: 175px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.slide-terms {
  height: 200px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

/*# sourceMappingURL=setting.css.map */
